/* Ajustes de los formularios */
.login-container {
  max-width: 900px; /* Ancho máximo de la caja */
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.8);
}

/* Para asegurarse de que la imagen sea responsiva */
img {
  max-width: 100%;
  height: auto;
}

/* Botones de Mario */
.btn-mario-login {
  background: linear-gradient(90deg, #f5a623, #f04d24);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  width: 200px;
}

.btn-mario-login:hover {
  background: linear-gradient(90deg, #f04d24, #f5a623);
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}
